
#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#page:focus-visible {
    outline: none;
}

#keyboard {
    padding: 10px 5px;
}

.keyboardRow {
    display: flex;
    justify-content: center;
}

.keyboardChar {
    width: 10%;
    height: 55px;
    padding: 1px;
    max-width: 60px;
}

.keyboardChar span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 0px 3px;
}

.keyboardRow:last-child .keyboardChar:first-child {
    width: 15%;
    font-size: 0.7rem;
    max-width: 90px;
}

.keyboardRow:last-child .keyboardChar:last-child {
    width: 15%;
    font-size: 0.7rem;
    max-width: 90px;
}

#letterBoard {
    padding: 30px 0 10px;
}

.letterBoxesRow {
    display: flex;
    justify-content: center;
}

.letterBox {
    height: 50px;
    width: 50px;
    padding: 1px;
}

.letterBox span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 0 3px;
}

.CORRECT_SPOT span {
    background-color: rgb(165, 255, 165);
}

.WRONG_SPOT span {
    background-color: rgb(255, 243, 131);
}

.NO_SPOT span {
    background-color: rgb(174, 174, 174);
}

.hasWon .letterBoxesRow:last-child span {
    background-color: rgb(165, 255, 165);
}

.messageBox {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    /*margin-top: auto;*/
}

#definitionCard {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
}

#definitionCard .inner {
    background-color: white;
    padding: 20px 30px 40px;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.definitionButton {
    text-decoration: underline;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    justify-content: center;
}
