
#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#page:focus-visible {
    outline: none;
}

#keyboard {
    padding: 10px 5px;
}

.keyboardRow {
    display: flex;
    justify-content: center;
}

.keyboardChar {
    width: 10%;
    height: 55px;
    padding: 1px;
    max-width: 60px;
    font-size: 1.4rem;
}

.keyboardChar span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 1px 1px 0px 3px black;
}

.keyboardRow:last-child .keyboardChar:first-child {
    width: 15%;
    font-size: 0.7rem;
    max-width: 90px;
}

.keyboardRow:last-child .keyboardChar:last-child {
    width: 15%;
    font-size: 0.7rem;
    max-width: 90px;
}

#letterBoard {
    padding: 30px 0 15px;
}

.letterBoxesRow {
    display: flex;
    justify-content: center;
}

.letterBox {
    height: 50px;
    width: 50px;
    padding: 1px;
}

.letterBox span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 0 3px black;
}

.CORRECT_SPOT span {
    background-color: #02cd75;
    color: white;
}

.WRONG_SPOT span {
    background-color: #FFE569;
}

.NO_SPOT span {
    background-color: rgb(174, 174, 174);
}

.hasWon .letterBoxesRow:last-child span {
    background-color: #02cd75;
    color: white;
}

.messageBox {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    /*margin-top: auto;*/
}

.definitionButton {
    text-decoration: underline;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    justify-content: center;
}
