#letterBoard {
    padding: 30px 0 15px;
}

.letterBoxesRow {
    display: flex;
    justify-content: center;
}

.letterBox {
  position: relative;
  height: 50px;
  width: 50px;
  padding: 1px;
}

.letterBox:after {
  content: '';
  position: absolute;
  display: block;
  background-color: transparent;
  height: 5px;
  width: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
}

.letterBoxActive:after {
  background-color: black;
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.letterBox span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 0 3px black;
}

.hasWon .letterBoxesRow:last-child {
    display: none;
}

.hasWon .letterBoxesRow:last-child span {
    background-color: #02cd75;
    color: white;
}